:root {
    --bg-blue: hsl(207, 100%, 17%);

}

body {
    margin: 0;
}

.banner {
    background-color: var(--bg-blue);
}

.home_icon {
    width: 20em;
    padding: 1.5em 1.5em 0 1.5em;
}

.nav_bar {
    display: inline-block;
    margin-bottom: 0;
    padding-left: .75em;
    width: 22.5em;
 }

.nav_button {
    display: inline-block;
    background-color: white;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: .5em;
    padding-bottom: .5em;
    margin: 0em .5em .5em .5em;
    list-style: none;
    text-align: left;
    width: 30%;
    font-size: 1.25em;
}

.nav_button a {
    text-decoration: none;
    color: black;
}


figure {
    display: inline-block;
    border-width: .01em;
    border-style: solid;
    border-color: rgb(240, 240, 240);
}

figcaption {
    color: white;
    background-color: var(--bg-blue);
    padding: 1em;
}

#leftMain {
    display: inline-block;
    width: 50%;
}

#leftMain header {
    font-size: larger;
    color: var(--bg-blue);
}

#rightMain {
    display: inline-block;
    padding: 1em;
    width: 50%;
} 

footer {
    margin: 0;
}

footer h3{
    padding: .25em .5em;
    font-size: 2em;
    background-color: lightgray;
}

footer p {
    color: hsl(25, 85%, 54%);
    font-size: 1.5em;
    margin: 0 0 0 .75em;
}

#footer1 {
    width: 49.85%;
    display: inline-block;
}

#footer1 h3 {
    margin: 1em 1em 1em 0;
}

#footer2 {
    width: 49.85%;
    display: inline-block;
}